section.bcenter {
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: center;
  display: -webkit-box;
  -webkit-box-align: center;
  display: box;
  box-align: center; }

section#title-slide {
  position: relative; }
  section#title-slide hgroup {
    padding-top: 90px; }
    section#title-slide hgroup h1 {
      font-size: 112px; }
  section#title-slide footer {
    padding-top: 120px; }

table.nice {
  width: 80%; }
  table.nice td {
    padding: 7px 0px 7px 11px; }
  table.nice tr.odd td {
    background-color: rgba(143, 226, 232, 0.2); }

ul.img {
  list-style: none; }
  ul.img li {
    padding: 0; }
    ul.img li img {
      margin: 0; }
